<div class="container">
  <div class="row">
    <div class="column-xl-12">
      <div class="tabs-warp question-tab">
        <ul class="tabs">
          <li class="tab"><a href="#" class="current">Users</a></li>
          <li class="tab"><a href="#" class="current">Courses</a></li>
        </ul>
        <div class="tab-inner-warp">
          <div class="tab-inner">
            <div class="page-content">
              <td><%= link_to("Add user", new_user_registration_path, :class => 'btn btn-success btn-add-users', "data-toggle" => "modal", "data-target" => "#newUser") %></td>
              <table id="users-table" class= "table table-striped table-bordered table-hover table-responsive"> <!-- bootstrap classes added by the uitheme widget -->
                <thead class="users-head">
                <tr>
                  <th>Last</th>
                  <th>First</th>
                  <th>Email Prefix</th>
                  <th>Courses</th>
                  <th>Questions</th>
                  <th>Answers</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tfoot class="users-head">
                <tr>
                  <th>Last</th>
                  <th>First</th>
                  <th>Email Prefix</th>
                  <th>Courses</th>
                  <th>Questions</th>
                  <th>Answers</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                </tfoot>
                <tbody>
                <% @users.select {|u| !u.admin? }.each do |user| %>
                    <tr>
                      <td><%= link_to user.last_name, user_path(user) %></td>
                      <td><%= link_to user.first_name, user_path(user) %></td>
                      <td><%= mail_to user.email, user.email_prefix %></td>
                      <td><% user.courses.each do |c| %><%= link_to c.short_title + (c == user.courses.last ? ' ' : ', '), course_path(c) %><% end %><%= link_to("Edit", edit_user_path(user), :class => 'button-xs btn-primary flt-rt', "data-toggle" => "modal", "data-target" => "#editUser" + user.id.to_s) unless user == current_user %></td>
                      <td><%= link_to user.questions.count, user %></td>
                      <td><%= link_to user.questions.count, user %></td>
                      <td><%= link_to("Edit user", edit_user_path(user), :class => 'button-xs btn-primary', "data-toggle" => "modal", "data-target" => "#editUser" + user.id.to_s) unless user == current_user %></td>
                      <td><%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs btn-danger') unless user == current_user %></td>
                    </tr>
                    <!-- Modal -->
                    <div class="modal fade" id="editUser<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h2 class="modal-title" id="exampleModalLabel"><%= user.name %></h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <%= form_for user do |f| %>
                                <div class="form-group">
                                  <%= f.collection_select :course_ids, @courses, :id, :full_title,{}, {:multiple => true, :class => "chosen-select"} %>
                                </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <%= f.submit :class => "btn-sm btn-success small submit" %>
                          </div>
                          <% end %>

                        </div>
                      </div>
                    </div>
                <% end %>
                </tbody>
              </table>
            </div><!-- End page content (users) -->
          </div>
        </div>
        <div class="tab-inner-warp">
          <div class="tab-inner">
            <div class="page-content">
              <td><%= link_to("Add Course", '#', :class => 'btn btn-success btn-add-users', "data-toggle" => "modal", "data-target" => "#newCourse") %></td>
              <table id="courses-table" class= "table table-striped table-bordered table-hover table-responsive"> <!-- bootstrap classes added by the uitheme widget -->
                <thead class="users-head">
                <tr>
                  <th>Department</th>
                  <th>Number</th>
                  <th>Title</th>
                  <th>Students</th>
                </tr>
                </thead>
                <tfoot class="users-head">
                <tr>
                  <th>Department</th>
                  <th>Number</th>
                  <th>Title</th>
                  <th>Students</th>
                </tr>
                </tfoot>
                <tbody>
                <% @courses.each do |course| %>
                    <tr>
                      <td><%= course.prefix %></td>
                      <td><%= course.number %></td>
                      <td><%= link_to course.title, course_path(course) %></td>
                      <td><%= course.users.count %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div><!-- End page content (users) -->
          </div>
        </div>
      </div><!-- End page-content (questions) -->
    </div>
  </div>
</div>

<div class="modal fade" id="newUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">New User</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="newCourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">New Course</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="authform">
          <%= form_for(Course.new) do |f| %>
              <h3>Course Details</h3>
              <fieldset>
                <div class="form-group">
                  <%= f.label :prefix %>
                  <%= f.text_field :prefix, :autofocus => true, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :number %>
                  <%= f.text_field :number, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :title %>
                  <%= f.text_field :title, class: 'form-control' %>
                </div>
              </fieldset>
              <h3>Students</h3>
              <fieldset>
                <div class="form-group">
                  <%= f.collection_select :user_ids, @users, :id, :name,{}, {:multiple => true, :class => "chosen-select"} %>
                </div>
              </fieldset>

              <%= f.submit 'Add Course', :class => 'button color btn-block add-course' %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>


<script>
    $(document).ready(function() {
        $('#users-table').DataTable();
        $('#courses-table').DataTable();
        $(".chosen-select").chosen({width: "95%"});
    });

</script>
