<div id="wrap" class="grid_1200">
  <section class="container main-content">
    <div class="row">
      <div class="col-md-9 dept">
        <div class="page-content page-content-user">
          <div class="user-questions">
            <% @depts.each do |dept| %>
              <% @dept_courses = @courses.select{|c| c.prefix == dept} %>
              <article class="question user-question">
                <div class="col-xs-1 dept-arrow dept-arrow-<%= dept %>">
                  <a onclick="showDeptCourses('<%= dept %>')"><span><i id="dept-icon-<%= dept %>" class="icon-chevron-right"></i></span></a>
                </div>
                <div class="col-xs-11 dept-desc">
                  <h3>
                    <%= dept + ' - ' + @dept_courses.first.dept %>
                  </h3>
                  <span class="question-category"><i class="icon-folder-close"></i><%= pluralize(@dept_courses.count, 'Course') %></span>
                  <span class="question-comment"><i class="icon-comment"></i><%= pluralize(question_count(@dept_courses), 'Question') %></span>
                  <span class="question-view"><i class="icon-user"></i><%= pluralize(user_count(@dept_courses), 'User') %></span>
                  <!--<div class="question-content">
                    <div class="question-bottom">
                      <span class="question-date"><i class="icon-time"></i>#"Last activity: " + last_activity(course) </span>
                    </div>
                  </div>-->
                </div>
              </article>
              <div id="dept-courses-<%= dept %>">
                <ul>
                  <% @dept_courses.each do |course| %>
                    <li><%= link_to course.prefix + ' ' + course.number.to_s + ' - ' + course.title+  ' ( ' + pluralize(course.questions.count, 'Question') + ' ) ', course_path(course) %></li>
                  <% end %>
                </ul>
              </div>
              <% end %>
          </div>
        </div>
      </div><!-- End main -->
      <aside class="col-md-3 sidebar">
        <div class="widget widget_highest_points">
          <h3 class="widget_title">Top Users at NKU</h3>
          <ul>
            <% @top_users.each do |user| %>
              <li>
                <div class="author-img">
                  <a href="#"><img width="60" height="60" src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-48.png" alt=""></a>
                </div>
                <h6><%= link_to user.name, user_path(user) %></h6>
                <span class="comment"><%= user.reputation %> Points</span>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="widget">
          <h3 class="widget_title">Recent Questions</h3>
          <ul class="related-posts">
            <% Question.order('updated_at DESC').limit(2).each do |q| %>
                <li class="related-item">
                  <h3><a href="#"><%= q.title %></a></h3>
                  <p><%= truncate(q.description, length: 70) %></p>
                  <div class="clear"></div><span><%= q.updated_at.strftime("%b %e %Y %l:%M %p") %></span>
                </li>
            <% end %>

          </ul>
        </div>

      </aside><!-- End sidebar -->
    </div><!-- End row -->
  </section><!-- End container -->
</div><!-- End wrap -->

<div class="go-up"><i class="icon-chevron-up"></i></div>

<script>
    $("[id^=dept-courses]").hide();
    var deptIcon = $("[id^=dept-icon]");
    deptIcon.removeClass();
    deptIcon.addClass("icon-chevron-right");

    function showDeptCourses(dept) {
        var deptCourses = $('#dept-courses-' + dept);
        var deptIcon = $("#dept-icon-" + dept );
        deptCourses.toggle();
        deptIcon.toggleClass( "icon-chevron-right");
        deptIcon.toggleClass( "icon-chevron-down");
    }
</script>


