<div id="wrap" class="grid_1200">

  <section class="container main-content">
    <div class="row">
      <div class="col-md-9 dept">
        <div class="page-content page-content-user">
          <div class="user-questions">
            <% @depts.each do |dept| %>
              <% @dept_courses = @courses.select{|c| c.prefix == dept} %>
              <article class="question user-question">
                <div class="col-md-1 dept-arrow">
                  <span><i class="icon-chevron-right"></i></span>
                </div>
                <div class="col-md-11 dept-desc">
                  <h3>
                    <%= dept + " - " + @dept_courses.first.dept %>
                  </h3>
                  <span class="question-category"><i class="icon-folder-close"></i><%= pluralize(@dept_courses.count, "Course") %></span>
                  <span class="question-comment"><i class="icon-comment"></i><%= pluralize(question_count(@dept_courses), "Question") %></span>
                  <span class="question-view"><i class="icon-user"></i><%= pluralize(user_count(@dept_courses), "User") %></span>
                  <!--<div class="question-content">
                    <div class="question-bottom">
                      <span class="question-date"><i class="icon-time"></i>#"Last activity: " + last_activity(course) </span>
                    </div>
                  </div>-->
                </div>
              </article>
              <% end %>
          </div>
        </div>
      </div><!-- End main -->
      <aside class="col-md-3 sidebar">
        <div class="widget widget_highest_points">
          <h3 class="widget_title">Highest points</h3>
          <ul>
            <li>
              <div class="author-img">
                <a href="#"><img width="60" height="60" src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-48.png" alt=""></a>
              </div>
              <h6><a href="#">Jake</a></h6>
              <span class="comment">3000 Points</span>
            </li>
            <li>
              <div class="author-img">
                <a href="#"><img width="60" height="60" src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-48.png" alt=""></a>
              </div>
              <h6><a href="#">Dan</a></h6>
              <span class="comment">10 Points</span>
            </li>
            <li>
              <div class="author-img">
                <a href="#"><img width="60" height="60" src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-48.png" alt=""></a>
              </div>
              <h6><a href="#">Trong</a></h6>
              <span class="comment">-5,000,000 Points</span>
            </li>
          </ul>
        </div>

        <div class="widget">
          <h3 class="widget_title">Recent Questions</h3>
          <ul class="related-posts">
            <% Question.order('updated_at DESC').limit(2).each do |q| %>
                <li class="related-item">
                  <h3><a href="#"><%= q.title %></a></h3>
                  <p><%= truncate(q.description, length: 70) %></p>
                  <div class="clear"></div><span><%= q.updated_at.strftime("%b %e %Y %l:%M %p") %></span>
                </li>
            <% end %>

          </ul>
        </div>

      </aside><!-- End sidebar -->
    </div><!-- End row -->
  </section><!-- End container -->
</div><!-- End wrap -->

<div class="go-up"><i class="icon-chevron-up"></i></div>



